.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e43f3f !important;
}
.bg-success {
  background-color: #e43f3f !important;
}
.bg-info {
  background-color: #e43f3f !important;
}
.bg-warning {
  background-color: #e43f3f !important;
}
.bg-danger {
  background-color: #e43f3f !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-info,
.btn-info:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-success,
.btn-success:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e43f3f !important;
}
.text-secondary {
  color: #e43f3f !important;
}
.text-success {
  color: #e43f3f !important;
}
.text-info {
  color: #e43f3f !important;
}
.text-warning {
  color: #e43f3f !important;
}
.text-danger {
  color: #e43f3f !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #a61717 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a61717 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #a61717 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #a61717 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #a61717 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #a61717 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e43f3f;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #e43f3f;
}
.alert-warning {
  background-color: #e43f3f;
}
.alert-danger {
  background-color: #e43f3f;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e43f3f;
  border-color: #e43f3f;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e43f3f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdf2f2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fdf2f2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fdf2f2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fdf2f2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf2f2;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e43f3f !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #e43f3f;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e43f3f;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e43f3f;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e43f3f;
  border-bottom-color: #e43f3f;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e43f3f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e43f3f' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tkH6n2KhoM {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tkH6n2KhoM nav.navbar {
  position: fixed;
}
.cid-tkH6n2KhoM .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tkH6n2KhoM .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tkH6n2KhoM .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tkH6n2KhoM .dropdown-item:hover,
.cid-tkH6n2KhoM .dropdown-item:focus {
  background: #e43f3f !important;
  color: white !important;
}
.cid-tkH6n2KhoM .dropdown-item:hover span {
  color: white;
}
.cid-tkH6n2KhoM .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tkH6n2KhoM .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tkH6n2KhoM .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tkH6n2KhoM .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tkH6n2KhoM .nav-link {
  position: relative;
}
.cid-tkH6n2KhoM .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tkH6n2KhoM .container {
    flex-wrap: nowrap;
  }
}
.cid-tkH6n2KhoM .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tkH6n2KhoM .dropdown-menu,
.cid-tkH6n2KhoM .navbar.opened {
  background: #ffffff !important;
}
.cid-tkH6n2KhoM .nav-item:focus,
.cid-tkH6n2KhoM .nav-link:focus {
  outline: none;
}
.cid-tkH6n2KhoM .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tkH6n2KhoM .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tkH6n2KhoM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tkH6n2KhoM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tkH6n2KhoM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tkH6n2KhoM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tkH6n2KhoM .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-tkH6n2KhoM .navbar.opened {
  transition: all 0.3s;
}
.cid-tkH6n2KhoM .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tkH6n2KhoM .navbar .navbar-logo img {
  width: auto;
}
.cid-tkH6n2KhoM .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tkH6n2KhoM .navbar.collapsed {
  justify-content: center;
}
.cid-tkH6n2KhoM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tkH6n2KhoM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tkH6n2KhoM .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 7.1rem);
  }
}
.cid-tkH6n2KhoM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tkH6n2KhoM .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tkH6n2KhoM .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tkH6n2KhoM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tkH6n2KhoM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tkH6n2KhoM .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tkH6n2KhoM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tkH6n2KhoM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tkH6n2KhoM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tkH6n2KhoM .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tkH6n2KhoM .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tkH6n2KhoM .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tkH6n2KhoM .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tkH6n2KhoM .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tkH6n2KhoM .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tkH6n2KhoM .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tkH6n2KhoM .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tkH6n2KhoM .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tkH6n2KhoM .navbar.navbar-short {
  min-height: 60px;
}
.cid-tkH6n2KhoM .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tkH6n2KhoM .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tkH6n2KhoM .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tkH6n2KhoM .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tkH6n2KhoM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tkH6n2KhoM .dropdown-item.active,
.cid-tkH6n2KhoM .dropdown-item:active {
  background-color: transparent;
}
.cid-tkH6n2KhoM .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tkH6n2KhoM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tkH6n2KhoM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tkH6n2KhoM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tkH6n2KhoM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tkH6n2KhoM .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tkH6n2KhoM ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tkH6n2KhoM .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tkH6n2KhoM button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tkH6n2KhoM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tkH6n2KhoM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tkH6n2KhoM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tkH6n2KhoM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tkH6n2KhoM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tkH6n2KhoM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tkH6n2KhoM nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tkH6n2KhoM nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tkH6n2KhoM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tkH6n2KhoM .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tkH6n2KhoM a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tkH6n2KhoM .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tkH6n2KhoM .navbar {
    height: 70px;
  }
  .cid-tkH6n2KhoM .navbar.opened {
    height: auto;
  }
  .cid-tkH6n2KhoM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tkNFK7R4R1 {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tkNFK7R4R1 .wrapper {
  padding: 0;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 10px 20px 0px rgba(29, 29, 27, 0.2);
}
.cid-tkNFK7R4R1 .card-img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}
.cid-tkNFK7R4R1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkNFK7R4R1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkH9Ho9uQU {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-tkH9Ho9uQU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkH9Ho9uQU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkHinxBA9E {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tkH9WgpLFM {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #e43f3f;
}
.cid-tkH9WgpLFM .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkH9WgpLFM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkH9WgpLFM .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-tkH9WgpLFM .card {
    margin-bottom: 2rem!important;
  }
  .cid-tkH9WgpLFM .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tkH9WgpLFM .link-wrap {
    align-items: center;
  }
}
.cid-tkH9WgpLFM .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tkH9WgpLFM .mbr-text,
.cid-tkH9WgpLFM .link-wrap,
.cid-tkH9WgpLFM .mbr-section-btn {
  color: #ffffff;
}
.cid-tkH9WgpLFM .card-title,
.cid-tkH9WgpLFM .card-box {
  color: #ffffff;
}
.cid-tkHa2pnXZp {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tkHa2pnXZp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkHa2pnXZp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkHa2pnXZp .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tkHa2pnXZp .icon-box {
  background: #e43f3f;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tkHa2pnXZp .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tkHa2pnXZp .card {
    margin-bottom: 2rem;
  }
  .cid-tkHa2pnXZp .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tkHHAmU7Cb {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-tkHHAmU7Cb .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkHHAmU7Cb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkHHAmU7Cb .item {
  padding-bottom: 2rem;
}
.cid-tkHHAmU7Cb .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-tkHHAmU7Cb .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-tkHHAmU7Cb .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tkHHAmU7Cb .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tkHHAmU7Cb .carousel-control,
.cid-tkHHAmU7Cb .close {
  background: #1b1b1b;
}
.cid-tkHHAmU7Cb .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tkHHAmU7Cb .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tkHHAmU7Cb .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tkHHAmU7Cb .carousel-control-next span {
  margin-left: 5px;
}
.cid-tkHHAmU7Cb .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tkHHAmU7Cb .close::before {
  content: '\e91a';
}
.cid-tkHHAmU7Cb .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tkHHAmU7Cb .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tkHHAmU7Cb .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tkHHAmU7Cb .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tkHHAmU7Cb .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tkHHAmU7Cb .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tkHHAmU7Cb .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tkHHAmU7Cb .carousel-indicators li.active,
.cid-tkHHAmU7Cb .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tkHHAmU7Cb .carousel-indicators li::after,
.cid-tkHHAmU7Cb .carousel-indicators li::before {
  content: none;
}
.cid-tkHHAmU7Cb .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tkHHAmU7Cb .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tkHHAmU7Cb .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tkHHAmU7Cb .carousel-indicators {
    display: none;
  }
}
.cid-tkHHAmU7Cb .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tkHHAmU7Cb .carousel-inner > .active {
  display: block;
}
.cid-tkHHAmU7Cb .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tkHHAmU7Cb .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tkHHAmU7Cb .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tkHHAmU7Cb .carousel-control,
  .cid-tkHHAmU7Cb .carousel-indicators,
  .cid-tkHHAmU7Cb .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tkHHAmU7Cb .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tkHHAmU7Cb .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tkHHAmU7Cb .carousel-indicators .active,
.cid-tkHHAmU7Cb .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tkHHAmU7Cb .carousel-indicators .active {
  background: #fff;
}
.cid-tkHHAmU7Cb .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tkHHAmU7Cb .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tkHHAmU7Cb .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tkHHAmU7Cb .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tkHHAmU7Cb .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tkHHAmU7Cb .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tkHHAmU7Cb .carousel {
  width: 100%;
}
.cid-tkHHAmU7Cb .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tkHHAmU7Cb .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tkHHAmU7Cb .modal.fade .modal-dialog,
.cid-tkHHAmU7Cb .modal.in .modal-dialog {
  transform: none;
}
.cid-tkHHAmU7Cb .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tkHHAmU7Cb H6 {
  text-align: center;
}
.cid-tkHJZFISBp {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tkHJZFISBp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkHJZFISBp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkHJZFISBp .video-wrapper iframe {
  width: 100%;
}
.cid-tkHJZFISBp .mbr-section-title,
.cid-tkHJZFISBp .mbr-section-subtitle,
.cid-tkHJZFISBp .mbr-text {
  text-align: center;
}
.cid-tkJ3E6Jo3h {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-tkJ3E6Jo3h .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkJ3E6Jo3h .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkJ3E6Jo3h .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-tkJ3E6Jo3h .currentcost {
  color: #232323;
}
.cid-tkJ3E6Jo3h .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-tkJ3E6Jo3h .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tkJ3E6Jo3h .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tkJ3E6Jo3h .text-box {
    padding: 1rem;
  }
}
.cid-tkJ3E6Jo3h .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tkJ3H67jlY {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
.cid-tkJ3H67jlY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkJ3H67jlY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkJ3H67jlY .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-tkJ3H67jlY .currentcost {
  color: #232323;
}
.cid-tkJ3H67jlY .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-tkJ3H67jlY .text-box {
    padding: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-right: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tkJ3H67jlY .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tkJ3H67jlY .text-box {
    padding: 1rem;
  }
}
.cid-tkJ3H67jlY .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tkHbiG1lMr {
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .cid-tkHbiG1lMr {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.cid-tkHbiG1lMr .container-fluid {
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 992px) {
  .cid-tkHbiG1lMr .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-tkHbiG1lMr .row {
  align-items: center;
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .row {
    position: relative;
  }
}
.cid-tkHbiG1lMr .custom-row {
  display: flex;
  max-width: 1200px;
  padding-left: 12px;
  padding-right: 12px;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .cid-tkHbiG1lMr .custom-row {
    padding-left: 16px;
    padding-right: 16px;
    flex-wrap: nowrap;
  }
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .map-col {
    height: 650px;
    order: 2;
    padding: 0!important;
  }
}
.cid-tkHbiG1lMr .col-text {
  position: relative;
}
.cid-tkHbiG1lMr .col-text .radial-svg {
  display: none;
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .col-text {
    order: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .cid-tkHbiG1lMr .col-text {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 992px) {
  .cid-tkHbiG1lMr .col-text .radial-svg {
    display: block;
    position: absolute;
    top: 0;
    right: 84%;
    transform: scale(-1, 1);
    height: 100%;
    width: 150px;
    z-index: 1;
  }
  .cid-tkHbiG1lMr .col-text .radial-svg path {
    fill: #ffffff;
  }
}
.cid-tkHbiG1lMr .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .cid-tkHbiG1lMr .text-wrapper {
    padding-left: 4rem;
  }
}
.cid-tkHbiG1lMr .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.cid-tkHbiG1lMr .label-text {
  width: 100%;
  letter-spacing: 2px;
  color: #0057fc;
  margin-bottom: 4px;
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .label-text {
    text-align: center;
  }
}
.cid-tkHbiG1lMr .mbr-section-title {
  margin-bottom: 32px;
  width: 100%;
  color: #111111;
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .mbr-section-title {
    text-align: center;
    margin-bottom: 20px;
  }
}
.cid-tkHbiG1lMr .contact-container {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .contact-container {
    width: 100%;
    margin-bottom: 20px;
  }
}
.cid-tkHbiG1lMr .contact-container .phone-container {
  padding: 16px 25px;
  background-color: #e43f3f;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 16px;
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .contact-container .phone-container {
    width: 100%;
    margin-right: 0;
  }
}
.cid-tkHbiG1lMr .contact-container .email-container {
  padding: 16px 25px;
  background-color: #4479d9;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 16px;
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .contact-container .email-container {
    width: 100%;
    margin-right: 0;
  }
}
.cid-tkHbiG1lMr .contact-text {
  color: #ffffff;
}
.cid-tkHbiG1lMr .cards-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .cards-container {
    text-align: center;
  }
}
.cid-tkHbiG1lMr .cards-title {
  margin-bottom: 12px;
}
.cid-tkHbiG1lMr .card {
  padding: 9px 0;
}
.cid-tkHbiG1lMr .card-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .card-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .cid-tkHbiG1lMr .card-title {
    font-size: 1.5rem !important;
  }
}
.cid-tkHbiG1lMr .icon-box {
  margin-right: 12px;
}
.cid-tkHbiG1lMr .icon-box .mbr-iconfont {
  color: #22a5e5;
}
.cid-tkHbiG1lMr .card-text {
  color: #000000;
  letter-spacing: inherit;
  flex-grow: 1;
}
.cid-tkHbiG1lMr .btn-container {
  width: 100%;
}
.cid-tkHbiG1lMr .mbr-section-btn {
  margin-top: 10px;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .mbr-section-btn {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}
.cid-tkHbiG1lMr .mbr-section-btn .btn {
  padding: 0;
  transition: all 0.3s ease 0s;
}
.cid-tkHbiG1lMr .mbr-section-btn .btn span {
  margin-left: 0;
  padding-left: 0.5rem;
  transition: all 0.3s ease 0s;
}
.cid-tkHbiG1lMr .mbr-section-btn .btn:hover span {
  padding-left: 1.25rem;
}
.cid-tkHbiG1lMr .google-map {
  position: absolute;
}
@media (max-width: 767px) {
  .cid-tkHbiG1lMr .google-map {
    height: 650px;
    width: 100%;
    padding: 0;
    left: 0;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .cid-tkHbiG1lMr .google-map {
    height: 100%;
    width: 50%;
    padding: 0;
    left: 0;
    top: 0;
  }
}
.cid-tkHbiG1lMr .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tkHbiG1lMr .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tkHbiG1lMr .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tkHbiG1lMr .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tkHbiG1lMr .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkHbiG1lMr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkHb7K4ouM {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-tkHb7K4ouM .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tkHb7K4ouM form .mbr-section-btn {
  text-align: center;
  margin-bottom: 1.2rem;
}
.cid-tkHb7K4ouM form .mbr-section-btn .btn {
  width: 100%;
  height: 100%;
}
.cid-tl3M5ogSHR {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tl3M5ogSHR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tl3M5ogSHR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tl3M5ogSHR .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-tl3M5ogSHR .bg-facebook:hover {
  background: #0b60cb;
}
.cid-tl3M5ogSHR .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-tl3M5ogSHR .bg-instagram:hover {
  background: #bd005c;
}
.cid-tl3M5ogSHR .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-tl3M5ogSHR [class^="socicon-"]:before,
.cid-tl3M5ogSHR [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-tkHb5Bgnik {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
